<!DOCTYPE html>


{% load static %}


<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge, chrome-1">
        <title>Booking App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">


    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">



    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'css/redondo.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.min.css'  %}"/>

   
   
</head>




<div style="background-color: #f000;">

<nav class="navbar navbar-inverse" style="position: fixed; z-index: 2; top: 0px; width: 100%;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" >Booking Application LTS</a>
    </div>
    <ul class="nav navbar-nav">
    <!----  <li class="active"><a href="#">   Listado de Usuarios en BD</a></li>--->









    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'crear_reservacion' %}">Booking</a> <!-----el href es el nombre de una ruta en urls.py   ---->


<li><a href="{% url 'loginin' %}">Logout</a></li>
</div>
</nav>












    <div class="container">
    {% block cuerpo %}
           

            
    {% endblock cuerpo %}


    {% block javascript %}

          <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}" charset="UTF-8"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vue.min.js' %}"></script>


<!---<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    
     <script type="text/javascript" src="{% static 'js/resultado_busqueda.js' %}"></script>


     <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>

     


    {% endblock %}
    
    </div>




  <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.js"></script>--->

  <!---<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> --->
  

 <!-- PARA NAVEGADORES ACTUALES 


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> -->








</html>
