{% extends 'plantillas/base3.html'%}


{% block cuerpo %}




<div class="container " id="marco" style="background-color:  rgba(255,255,255,146); position: relative; z-index: 3;">

<!--SUPERPONER ESTOS DIVS PARA QUE UNO SEA LA SOMBRA DE OTRO--->

	<div id="marco2" style=" background-color: grey; position: absolute; z-index: 2; border-radius: 4%;"> </div>

	<div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 " >
		<!---class="col-md-6 col-md-offset-3 " --->
		<h3 style="color: black;">Creation of users for the whole platform
	</div>		




	
		

		<form action="" method="post">
			<div class="col-xs-6 col-xs-offset-4 col-sm-6 col-sm-offset-4    col-md-6 col-md-offset-4 col-lg-6 col-lg-offset-4">

							{%csrf_token%} {{ form.as_p}}
					
				
							<div></div>


							
				   

			</div>	    	


				<p></p>


				<div class="col-xs-6 col-xs-offset-4 col-sm-6 col-sm-offset-4    col-md-6 col-md-offset-4 col-lg-6 col-lg-offset-4">
					<p></p>
					<input  type="submit" class="btn btn-success " value="Register" style="font-size: 10; padding: 0.5em 1em; margin: 0 1em 0 0; border-radius: 2em; font-weight: bolder; ">



					


					<a class="btn btn-default btn-success" href="{% url 'loginin' %}">Return to login screen </a>

					
				</div>

				

				
			
					
			


						

		</form>

	
</div>	
















{% endblock %}



{% block javascript %}
{% endblock  %}