{% extends 'plantillas/base3.html' %}

{% block cuerpo %}

<div class="container " id="marco" style="background-color:  rgba(255,255,255,146); position: relative; z-index: 3;">

<!--SUPERPONER ESTOS DIVS PARA QUE UNO SEA LA SOMBRA DE OTRO--->

	<div id="marco2" style=" background-color: grey; position: absolute; z-index: 2; border-radius: 4%;">
	 </div>



	<div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 " >
		<!---class="col-md-6 col-md-offset-3 " --->
		<h3 style="color: black;">Thank you for login into the platform as a {{rule_usuario}}</h3>
		
	</div>		



	<div class="col-xs-7 col-xs-offset-5 col-sm-7 col-xs-offset-5 col-md-7 col-md-offset-5 col-lg-7 col-lg-offset-5">
		<h5 style="font-weight: bold; color: grey;">
			<a href="{%url 'loginin' %}">Logout</a>
			
		</h5>
	</div>



</div>


{% endblock cuerpo %}